@charset "utf-8";
/* CSS Document */



.search input,select{font-size:12px;vertical-align:middle;}

.search textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;}
.search li{list-style-type:none;}
.search img{border:0 none;}
.search a{text-decoration:none;color:#333; }
.search a:hover{color:#1974A1; }
.search a:link, a:visited{color:#333;text-decoration: none;outline: none;}
.search a:hover{color:#0E4470;text-decoration: none;}

